server/*.tar.gz
server/run/daeml
server/run/db_proxy_server
server/run/file_server
server/run/http_msg_server
server/run/login_server
server/run/msfs
server/run/msg_server
server/run/push_server
server/run/route_server

server/src/base/.cmake
server/src/base/CMakeFiles
server/src/base/CMakeCache.txt
server/src/base/cmake_install.cmake
server/src/base/pb/lib

server/src/bin

server/src/db_proxy_server/CMakeFiles
server/src/db_proxy_server/cmake_install.cmake
server/src/db_proxy_server/CMakeCache.txt
server/src/db_proxy_server/.cmake
server/src/db_proxy_server/adapters
server/src/db_proxy_server/build
server/src/db_proxy_server/libhiredis.a

server/src/file_server/CMakeFiles
server/src/file_server/cmake_install.cmake
server/src/file_server/CMakeCache.txt
server/src/file_server/Makefile

server/src/hiredis/hiredis-master

server/src/log4cxx/apache-log4cxx-0.10.0
server/src/log4cxx/apache-log4cxx-0.10.0.tar.gz

server/src/login_server/CMakeFiles
server/src/login_server/cmake_install.cmake
server/src/login_server/CMakeCache.txt
server/src/login_server/Makefile

server/src/msfs/CMakeFiles
server/src/msfs/cmake_install.cmake
server/src/msfs/CMakeCache.txt
server/src/msfs/Makefile

server/src/msg_server/CMakeFiles
server/src/msg_server/cmake_install.cmake
server/src/msg_server/CMakeCache.txt
server/src/msg_server/Makefile

server/src/msg_server/CMakeFiles
server/src/msg_server/cmake_install.cmake
server/src/msg_server/CMakeCache.txt
server/src/msg_server/Makefile

server/src/protobuf/bin
server/src/protobuf/include
server/src/protobuf/lib
server/src/protobuf/protobuf-2.6.1

server/src/push_server/CMakeFiles
server/src/push_server/cmake_install.cmake
server/src/push_server/CMakeCache.txt
server/src/push_server/Makefile

server/src/route_server/CMakeFiles
server/src/route_server/cmake_install.cmake
server/src/route_server/CMakeCache.txt
server/src/route_server/Makefile

win-client/3rdParty/src/libogg/x64
win-client/solution/.vs/*
